.card {
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  width: 110px;
  height: 160px;
  text-align: center;
  cursor: pointer;
}

.recipe {
  width: 100%;
  background-color: #e2eaec;
  padding: 2px;
  border-radius: 5px;
}
