@import './cards.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: #e8e8e8;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  color: black;
}

.area {
  position: relative;
  border-width: 2px;
  border-style: solid;
  margin: 5px;
  padding: 3px;
}

.area .area-overlay {
  display: none;
}

.area.inactive-area .area-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent gray */
  z-index: 1; /* Ensure it appears above the content but below tooltips and modal window */
  pointer-events: none; /* Prevent interaction with the overlay */
}

.area.inactive-area button {
  cursor: default;
}

.card-area {
  display: flex;
  flex-wrap: wrap;
}

.die {
  width: 40px;
  height: 40px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: ivory;
  text-align: center;
  margin: 3px;
  font-size: 20px;
  cursor: pointer;
}

.valid-div,
.valid-div-hover:hover {
  box-shadow: inset 0 0 5px rgba(0, 255, 0, 0.8);
}

.invalid-div-hover:hover {
  box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.8);
}

.selected-div {
  box-shadow: inset 0 0 5px rgba(0, 0, 255, 0.8);
}

.card-select-area {
  border: 2px solid black;
  margin: 10px;
}

.dice-select-area {
  border: 2px solid black;
  margin: 10px;
}

.resource-select-area {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.selection-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 20px;
}

.icon-row {
  display: flex;
  align-items: center;
}

/**
 * Tooltip customization
 *
 * See https://floating-vue.starpad.dev/guide/css
 */

.v-popper--theme-tooltip {
  max-width: 300px;
  text-align: center;
}

.v-popper--theme-tooltip.v-popper__popper--hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.v-popper--theme-tooltip.v-popper__popper--shown {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}
