@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  color: black;
}

.inactive-area {
  opacity: 0.5;
  pointer-events: none;
}
